@charset "utf-8";

body {
    background-color: #FFFFFF;
    color: white;
    font-family: Arial, sans-serif;
	align: center;
    padding-left: 0px;
    padding-top: 200px;
}
.trees {
    display: block;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 550px;
    height: 450px;
    min-height: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}
.text {
    font-family: "Lucida Handwriting", cursive;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    padding-top: 100px;
    padding-bottom: 100px; 
}

/* ---- DROPDOWN ---- */
.dropdown {
    position: relative;
    display: inline-block;
    background-color: #000000; /* FIXED: "#white" is invalid */
    color: white;
    border: 4px double white;
    padding: 10px 15px;
    margin: 20px auto;
    left: 50%;
    transform: translateX(-50%);
}

.dropbtn {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

/* Dropdown panel */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 100%;
    padding: 10px 0;
    border: 2px solid white;
    z-index: 100;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #f1c232;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #ffea8a;
}

h1 {
    text-align: center;
    color: #000000;
    text-decoration: none;
    position: relative;
    padding-top: 25px;
}

/* ---- TABLE STYLING ---- */
.table {
    width: 95%;
    margin: 20px auto;
    border: 5px solid black;
    background-color: #FFE958;
    padding: 10px;
    font-size: large;
    text-align: center;
    color: #000000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: bold;
    word-spacing: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    text-align: center;
}

table p {
    color: black;
    font-weight: bold;
}

/* ---- TEMPLATE IMAGE POSITIONS ---- */
.Table_01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 1200px;
    height: 900px;
}
table, th, td {
    border: 1px solid #000000;   
    border-collapse: collapse; 
}

td, th {
    padding: 10px;
}
.webpage-template-02 {
    position: absolute;
    left: 2px;
    top: 0;
    width: 1197px;
    height: 286px;
    padding-top: 120px;
}
.webpage-template-02 img {
    display: block;
    width: 100%;
    border-bottom: 5px solid #000000;
}
